/frank_m2/frank_m2-backups
/frank_m2/frank_m2-backups
*.lck
/frank_m2/.history
/frank_m2/frank_m2-backups
/frank_pro_m2/.refactor-backup-20260428-135116
/frank_pro_m2/.history
frank_pro_m2/~frank_pro_m2.kicad_pro.lck
frank_pro_m2/~frank_pro_m2.kicad_pro.lck
